{
  // workaround for https://github.com/babel/babel/issues/2877
  "passPerPreset": true,
  "presets": [
    { "plugins": [ "transform-runtime" ] },
    {
      "passPerPreset": false,
      "presets": [["env", {
        "debug": true,
        "targets": {
          "node": "current"
        }
      }]]
    }
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
