<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LeanCloud WebRTC Demo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://leancloud.github.io/docs/styles/font.css" rel="stylesheet">
  <link rel="stylesheet" href="index.css"/>
</head>
<body id="app" v-cloak>
  <form onsubmit="return false;">
    <p id="logo" v-if="!client || state === 'ready' || state === 'calling'">
      <span class="title">WebRTC Demo</span><br/>
      <span class="hint">by LeanCloud Lab</span>
    </p>
    <template v-if="supported">
      <div id="login" v-if="!client">
        <p v-if="autoCall">
          One more step to call {{ autoCall }}
        </p>
        <p>
          <input type="text" v-model="id" placeholder="ID" autofocus/>
          <button type="submit" v-on:click="login" v-show="state !== 'loggingin'">Login</button>
          <button disabled v-show="state === 'loggingin'">Logging in</button>
        </p>
        <p class="hint">
          leave blank to login anonymously
        </p>
      </div>
      <template v-else>
        <div id="client" title="{{ client.id }}">{{ client.id }} <a id="logout" href="javascript:;" v-on:click="logout">Logout</a></div>
        <div id="call" v-if="state === 'ready' || state === 'calling'">
          <p>
            <input type="text" v-model="targetId" placeholder="Target ID" required autofocus/>
            <button type="submit" v-show="state !== 'calling'" v-on:click="call">call</button>
            <button disabled v-show="state === 'calling'">calling</button>
          </p>
          <p class="hint">
            Waiting for incoming calls now.
          </p>
          <p class="hint">
            Others can call you by going to<br/><a href="{{ callLink }}" target="_blank">{{ callLink }}</a>
          </p>
        </div>
        <template v-if="state === 'connected' || state === 'waiting'">
          <div id="controller">
            <div id="calling-hint" v-show="state === 'waiting'">Waiting for {{ targetId }}</div>
            {{ targetId }}
            <button v-on:click="hangup" class="button-error"><i class="material-icons">call_end</i></button>
            <div v-if="state === 'connected'">
              <button v-on:click="toggleCamera" :class="{ 'button-active': !localVideoEnabled }"><i class="material-icons">videocam_off</i></button>
              <button v-on:click="toggleMic" :class="{ 'button-active': !localAudioEnabled }"><i class="material-icons">mic_off</i></button>
              <button v-on:click="toggleMuted" :class="{ 'button-active': !remoteAudioEnabled }"><i class="material-icons">volume_off</i></button>
            </div>
          </div>
        </template>
      </template>
    </template>
    <div v-else id="unsupported">
      <p>Sorry but your browser is not supported. </p>
      <p class="hint">Currently WebRTC Demo supports Chrome, Firefox, Edge, Opera and Chrome for Android. See http://caniuse.com/#search=webrtc for technical details.</p>
    </div>
  </form>
  <div id="incoming-call" v-if="incomingCall">
    <div id="caller-id">{{ incomingCall.from }}</div>
    <div>
      <button v-on:click="accept" class="button-success"><i class="material-icons">call</i></button>
      <button v-on:click="decline" class="button-error"><i class="material-icons">call_end</i></button>
    </div>
  </div>
  <div id="camera-box" v-show="state === 'connected' || state === 'waiting'">
    <video id="remote_video" autoplay></video>
    <video id="local_video" autoplay muted></video>
  </div>
  <script src="//cdn.jsdelivr.net/vue/1.0.24/vue.min.js"></script>
  <script src="//webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="../../dist/realtime.browser.min.js"></script>
  <script src="../../plugins/webrtc/dist/webrtc.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
